<div style="width: 30%; padding: 4rem">
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
        <h3 class="plan__name">Business</h3>
        <span class="plan__price">$24</span>
        <span class="plan__billing-cycle">/month</span>
        <!-- <span class="badge badge--secondary badge--small"> -->
          <span class="badge badge--secoondary badge--small">20% Off</span>
        </span>
        <span class="plan__description"><br>Optimal Cloud Experience</span>
      </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Microsoft Windows 10 Laptops </li>
            <li class="list__item">GamePads For Laptops</li>
            <li class="list__item">Tecno Camon 15 Phones</li>
            <li class="list__item">Flat Screen TVs</li>
            <li class="list__item">PS5 Gaming Consoles</li>
          </ul>
          <a href="#" class="btn btn--sceondary btn--ouline">Buy Now</a>
      </div> 
      </div>
    </div>
  </div>

  <div style="width: 30%; padding: 4rem">
    <div class="plan plan--popular">
      <div class="card card--secondary">
        <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <!-- <span class="badge badge--secondary badge--small"> -->
          <span class="badge badge--primary badge--small">10% Off</span>
        </span>
        <span class="plan__description"><br>Easy start on the Cloud</span>
      </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
            <li class="list__item">2 CPU Cores</li>
          </ul>
      </div> 
      </div>
    </div>
  </div>